

<img height="400" src="https://www.treehugger.com/thmb/4Q49JOiLpG-04OH9EAT0ptzKLMc=/1883x1412/smart/filters:no_upscale()/koala-on-branch-c61565bbdbe344a399d9b3cd77d78fd6.jpg" alt="">
<h2> Hello this is <%= @name  %> </h2>
