

<form action="/create_restaurant">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="address" placeholder="address">
  <input type="rating" name="rating" placeholder="rating">
  <input type="submit" value="create">
</form>
